<div class="row">
    <div class="col-lg-6">
        <h2>Features</h2>
        <h3>
            LESS
        </h3>
        <p>
            LESS is applied automatically to styles in the /less folder. CSS styles can also be placed in this folder, but they must have a .less extension. Build is run automatically while grunt serve is running.
        </p>
        <p>
            LESS source maps are available automatically.
        </p>
        <h3>
            TypeScript
        </h3>
        <p>
            TypeScript files are located in the /typescript directory and are compiled to javascript automatically. JavaScript files can also go in this directory.
        </p>
        <p>
            TypeScript source maps are available automatically.
        </p>
        <h3>
            Ui-Router
        </h3>
        <p>
            Routing is handled in real time with ui-router. Routes can be added in typescript/main.ts
        </p>
    </div>
</div>
